*, html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'system-ui', sans-serif;
    overflow-x: hidden;
    background: #000;
}


main{
    padding: 0px 2rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
}

h1{
    font-weight: 800;
    margin-bottom: 3rem;
}

p{
    font-size: 0.9rem;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    opacity: 0.9;
}


a:hover{
    opacity: 1;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: white;
}

.imprint{
    text-align: right;
    margin-left: auto;
}



footer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;

}



@media screen and (min-width:720px) {
    footer{
        padding: 3rem;
    }
    main{
        padding: 0 3rem;
    }
}